@model NorthWestLabs.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccouNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccouNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
