@model IEnumerable<NorthWestLabs.Models.Employee>

@{
    ViewBag.Title = "EmployeeIndex";
}

<h2>EmployeeIndex</h2>

<p>
    @Html.ActionLink("Create New", "EmployeeCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpWage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpWage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpType)
        </td>
        <td>
            @Html.ActionLink("Edit", "EmployeeEdit", new { id=item.EmpID }) |
            @Html.ActionLink("Details", "EmployeeDetails", new { id=item.EmpID }) |
            @Html.ActionLink("Delete", "EmployeeDelete", new { id=item.EmpID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Return to Home", "SeattleHome")
</p>
