@model IEnumerable<NorthWestLabs.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccouNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccouNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }, new { @class = "btn btn-primary" }) <br />
            @Html.ActionLink("Details", "Details", new { id=item.ClientID }, new { @class = "btn btn-primary" }) <br />
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Return to Home", "SeattleHome")
</p>