@model IEnumerable<NorthWestLabs.Models.WorkOrder>

@{
    ViewBag.Title = "WorkIndex";
}

<body style="background-image: url(../../Content/Images/hans-reniers-lQGJCMY5qcM-unsplash.jpg); background-size: cover;">
    <div class="jumbotron" style="font-size: 13px;">
        <h2>All Work Orders</h2>
        <br />        
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WOReport)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.SummaryStatus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WOReport)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.SummaryStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "WorkOrderEdit", new { id = item.WrkOrdID }, new { @class = "btn btn-primary btn-sm" }) 
                        @Html.ActionLink("Details", "WorkOrderDetails", new { id = item.WrkOrdID }, new { @class = "btn btn-primary btn-sm" }) 
                        @Html.ActionLink("Delete", "WorkOrderDelete", new { id = item.WrkOrdID }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }

        </table>

        <p style="font-size: 15px;">
            @Html.ActionLink("Return to Home", "SeattleHome", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Create New", "WorkOrderCreate", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</body>