@model IEnumerable<NorthWestLabs.Models.AddQuote>

@{
    ViewBag.Title = "SeeQuotes";
}


<body style="background-image: url(../../Content/Images/hans-reniers-lQGJCMY5qcM-unsplash.jpg); background-size: cover;">
    <div style="font-size: 15px;" class="jumbotron">
        <h2>Current Quote Requests</h2>
        <table class="table">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                
                
                <th>
                    @Html.DisplayNameFor(model => model.Custom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Custom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.ActionLink("Send Quote Price", "AssignPrice", new { id = item.QCode }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }

        </table>
        @Html.ActionLink("Back to Home", "SingaporeHome", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</body>


